<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nadajp.littletalkers"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.nadajp.littletalkers.LittleTalkersApp"
        android:allowBackup="true"
        android:backupAgent="TheBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LittleTalkersTheme" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAInKefPCNrF9QhNH0xCB2hoIixxH91h6-jel57mg" />
        <activity
            android:name="com.nadajp.littletalkers.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nadajp.littletalkers.AddItemActivity"
            android:parentActivityName="com.nadajp.littletalkers.ItemListActivity" >
        </activity>
        <activity
            android:name="com.nadajp.littletalkers.ViewItemActivity"
            android:parentActivityName="com.nadajp.littletalkers.ItemListActivity" >
        </activity>
        <activity
            android:name="com.nadajp.littletalkers.AddKidActivity"
            android:label="@string/title_activity_add_kid"
            android:parentActivityName="com.nadajp.littletalkers.ManageKidsActivity" >
        </activity>
        <activity android:name="com.nadajp.littletalkers.BaseActivity" >
        </activity>
        <activity android:name="com.nadajp.littletalkers.ItemListActivity" >
        </activity>
        <activity
            android:name="com.nadajp.littletalkers.ManageKidsActivity"
            android:label="@string/title_activity_manage_kids"
            android:parentActivityName="com.nadajp.littletalkers.MainActivity" >
        </activity>
        <activity
            android:name="com.nadajp.littletalkers.ManageKidsFragment"
            android:label="@string/title_activity_manage_kids_fragment" >
        </activity>
        <activity
            android:name="com.nadajp.littletalkers.DataExportActivity"
            android:label="@string/title_activity_data_backup"
            android:parentActivityName="com.nadajp.littletalkers.MainActivity" >
        </activity>
    </application>

</manifest>